body{
  font-family: 'Open Sans', sans-serif;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  margin:15px;
}
.App {
  font-family: 'Open Sans', sans-serif;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  opacity: 1;
  /*border: 1px solid blue;*/
}